@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=PT+Sans+Narrow&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: #1c1c1c;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: white;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
}

#monsterCardsSection h2{
  text-transform: uppercase;
}

#monsterCardsSection{
  margin: 25px;
  padding: 25px;
  border-radius: 5px;
  background-color: #363636;
}

h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid #ddd;
}

.navBar {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

nav #aboutlink {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 15px;
  color: white;
}

.aboutMain {
  padding: 50px;
  text-align: center;
}

nav #aboutlink:hover {
  border: 2px solid #aaa;
  color: white;
  cursor: pointer;
}

#aboutTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#imgAbout {
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 20px;
}

#bossDescription {
  text-align: justify;
}

#statsBoss {
  display: flex;
  align-items: center;
}

#statsBoss div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#statsBoss div img {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  height: 20px !important;
  width: 20px !important;
  display: flex;
  align-self: center;
  margin-right: 5px;
}

#newMonster {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 25px;
}

#monsterFormSection {
  background-color: #363636;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.45);
}

#monsterForm {
  display: flex;
  flex-direction: column;
  width: 700px;
}

#monsterForm input,
textarea {
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  border: none;
  margin-bottom: 5px;
  resize: none !important;
}

#monsterName {
  font-weight: 600;
  color: white !important;
}

#monsterDescription {
  height: 100px;
}

#boss {
  text-align: center;
  padding: 20px;
  background-color: #161616;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.45);
}
#boss img {
  text-align: center;
  width: 275px;
}

.monsterTypeSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.monsterTypeSelectorButton {
  appearance: none;
  width: 75px;
  height: 75px;
  background-size: contain;
  border: 2px solid #ddd !important;
  border-radius: 15px;
}

#monster1 {
  background-image: url("../img/realMonsters/monster1.png");
}
#monster2 {
  background-image: url("../img/realMonsters/monster2.png");
}
#monster3 {
  background-image: url("../img/realMonsters/monster3.png");
}
#monster4 {
  background-image: url("../img/realMonsters/monster4.png");
}
#monster5 {
  background-image: url("../img/realMonsters/monster5.png");
}

.monsterTypeSelectorButton:checked {
  border: 4px rebeccapurple solid !important;
}

.monsterStatsSelector div img {
  display: inline;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.monsterStatsSelector {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.monsterStatsSection {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #ddd !important;
  display: flex;
  align-items: center;
}

.monsterStatsSelector input {
  width: 100px;
  text-align: right;
}

.monsterStatsSelector span {
  margin: 10px;
  font-size: 1.5em;
}

.monsterBackgroundSection {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.monsterBackgroundButton {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd !important;
  border-radius: 50%;
}

.monsterBackgroundButton:checked {
  border: 2px solid rebeccapurple !important;
}

.whiteBackground {
  background-color: white !important;
}

.redBackground {
  background-color: #e64a19 !important;
}

.orangeBackground {
  background-color: #ffa000 !important;
}

.yellowBackground {
  background-color: #fbc02d !important;
}

.greenBackground {
  background-color: #388e3c !important;
}

.blueBackground {
  background-color: #0288d1 !important;
}

.greyBackground {
  background-color: #616161 !important;
}

#createButton {
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  background-color: #121212 !important;
  border-radius: 5px;
}

#createButton:hover {
  color: #121212;
  padding: 10px;
  background-color: #efefef !important;
  border-radius: 5px;
}

.monsterCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  color: #121212;
  text-align: center;
  gap: 10px;
}

#monsterCardsSection {
  padding: 15px;
}

.monsterCard {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

.monsterCard img {
  width: 100px;
}
.monsterCards #stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.monsterCards .stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.monsterCard .stat img {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

#error{
  color: #e64a19;
  font-size: 1.5em;
}

.error{
  color: #e64a19 !important;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}
